version: '3.8'

services:
    app:
        build:
            context: ./
            dockerfile: utils/dev.Dockerfile
        working_dir: /tiralabra
        image: tiralabra-dev
        container_name: tiralabra-dev
        ports:
            - 3000:3000
            - 3001:3001
        volumes:
            - ./:/tiralabra
        depends_on:
            - cache
            - otp

    cache:
        image: redislabs/redismod:latest
        container_name: tiralabra-cache
        ports:
            - 6379:6379

    otp:
        image: hsldevcom/opentripplanner:prod
        container_name: tiralabra-otp-hsl
        environment:
            - ROUTER_NAME=hsl
            - JAVA_OPTS=-Xmx7g
            - ROUTER_DATA_CONTAINER_URL=https://api.digitransit.fi/routing-data/v2/hsl
        ports:
            - 9080:8080
            - 9081:8081
