version: '3.8'

services:
    app:
        build:
            context: ./
            dockerfile: utils/dev.Dockerfile
        user: 'node'
        image: tiralabra-dev
        container_name: tiralabra-dev
        ports:
            - 3000:3000
            - 3001:3001
        volumes:
            - ./:/tiralabra
        depends_on:
            - cache

    cache:
        image: redis:latest
        container_name: tiralabra-cache
